.redpinli {
	list-style-type: none;
	list-style-image: url(redpin.png);
}

.greenpinli {
	list-style-type: none;
	list-style-image: url(greenpin.png);
}

.divmain {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.divfloat {
	float: right;
}

.htitle {
	/*background: url(/htitle.gif) no-repeat right 20%;*/
}

a:link {
	text-decoration:none; 
	color:#838383
}

a:hover {
	text-decoration:none; 
	color:#000080
}

a:active {
	text-decoration:none; 
	color:#838383
}

a:visited {
	text-decoration:none; 
	color:#838383
}

@font-face {
	font-family: 'ComicRelief';
	src: url('ComicRelief.ttf');
}

@font-face {
	font-family: 'Butter Finger';
	src: url('Butter Finger.ttf');
}

@font-face {
	font-family: 'Century Gothic';
	src: url('Gothic.ttf');
}

@font-face {
	font-family: 'Questrial';
	src: url('Questrial-Regular.ttf');
}

:root {
	--bg-color: #838383;
	--text-color: #222222;
	--border-color: #d3d3d3;
	--logo-url: url('my.gif');
}

:root.dark {
	--bg-color: #1E1E1E;
	--text-color: #838383;
	--border-color: #161616;
	--logo-url: url('my-dark.gif');	
}

.logo {
	/* width: 200px; */
	/* height: auto; */
	content: var(--logo-url);   /* 把变量赋给 content，Firefox/Chrome 都认 */
	display: block;
	margin: 2rem auto;
}

body {
	/* background-color: transparent; */
	border-color: var(--border-color);
	/* color: #838383; */
	background: var(--bg-color);
	color: var(--text-color);
	transition: background .25s, color .25s;
	-webkit-font-smoothing: antialiased;
	/*font-family: 'Questrial', 'Century Gothic', 'Helvetica', 'Comic Sans MS', 'ComicRelief', cursive, sans-serif;*/
	font-family: 'Helvetica', sans-serif;
	font-size: 100%;
	margin-bottom: 0px;
	/*background-image:url('bg.jpg');*/
	background-size:110% 110%;
	background-position:center center;
	background-repeat:no-repeat;
	/*text-shadow:white -1px 1px*/ 
	/*filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='bg.jpg')*/
	filter: Shadow(Color=#ffffff, Direction=0, Strength=1);
}

h3 {
	color: #036;
	font-variant: small-caps;
	font-size: 150%;
	margin-bottom: 0px;
	font-weight: normal;
	font-family: 'Helvetica', sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	h3 {
		font-size: 2em;
	}
}

@media screen and (min-device-width:800px) {
	.divmain {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
}

